/* src/index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, Arial, sans-serif;
  background-color: #f3ece6; /* light brownish background */
  color: #4b2e2e; /* dark brown text */
}